/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$black: #000;

body {
	background-color:$black;
	color: #fff;
}

.wrapper {
  //width: 80%;
  margin: 0 10%;
  //display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.work {
  display: flex;
  margin: 1%;
  background: #333;
  height: 300px;
  width: 31%;
  // background-size: cover;
  // background: url("http://www.milesquirk.com/img/ng.jpg");
  justify-content: center;
  align-items: center;  
  // background: url(ttp://www.milesquirk.com/img/ng.jpg); 
  background-size: cover;
}

// .ng {
//   background: url("http://www.milesquirk.com/img/ng.jpg");
//   background-size: cover;
//   //background-repeat: none;
// }



@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .work {
    display: flex;
    width: 98%;
  }
}